# Python / venv
.venv/
__pycache__/
*.pyc

# Streamlit cache
.streamlit/

# HuggingFace / model outputs
my_emotion_model/
Emotion_project/my_emotion_model/
**/checkpoint-*/
*.safetensors

# Optional: datasets if large
*.csv

# IDE
.vscode/
.idea/
