# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS / IDE
.DS_Store
.idea/
.vscode/

# Data (optional)
*.csv

# Models / checkpoints (HIGHLY recommended to avoid huge uploads)
checkpoint-*/
*.safetensors
my_emotion_model/
